.boardGameContainer{
    margin: 100px;
    
}

.boardGame {
    width: 75vw; /* this is how you use responsive design this is 75% of viewport width */
    height: 75vh; /* this is how you use responsive design this is 75% of viewport height */
}

td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 100px;
}

canvas {
    position: absolute;
    z-index: 1;
}

.topLeftTile, .topRightTile, .botLeftTile, .botRightTile {
    border: none;
}

.topMidTile {
    border-top: none;
}

.botMidTile {
    border-bottom: none;
}

.midLeftTile {
    border-left: none;
}

.midRightTile {
    border-right: none;
}

.midMidTile {
    border: none;
}

