.boardGame {
    width: 1000px;
    height: 800px;
    text-align: center;
}

td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 100px;
  }
